* {
  margin: 0;
  padding: 0;
}

.btn {
  border: none;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
}

.btn-red {
  background-color: #E30613;
  color: #F6F6F6;
  text-transform: uppercase;
}

.btn-yellow {
  background-color: #FFC423;
  color: #000000;
  text-transform: uppercase;
}

.btn-orange {
  background-color: #FB641B;
}

.btn-padding {
  padding: 14px 16px;
}

.btn-shop-yellow {
  font-size: 16px;
}

.btn-blue {
  background-color: #009ADA;
  color: #000000;
  text-transform: uppercase;
}

.btn-black {
  background-color: #000000;
  color: #F6F6F6;
}

.btn-white {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #E2E2E2;
}

.btn-fonts {
  font-size: 20px;
  font-weight: 700;
}

.title-margin {
  color: #B7B7B7;
  margin-bottom: 21px;
}

.footer-para {
  font-size: 12px;
  color: #B7B7B7;
  text-decoration: none;
}

.item-style {
  list-style: none;
}

.service-btn {
  text-transform: capitalize;
  padding: 10px 8px;
  text-decoration: none;
  font-size: 12px;
  width: 120px;
  border-radius: 5px;
}

.grid-container .header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 80px;
  align-items: center;
  background-color: #E30613;
  padding: 0 100px;
}
.grid-container .header .logo img {
  width: 120px;
}
.grid-container .header .searchbar {
  display: flex;
}
.grid-container .header .searchbar .search-cnt {
  flex-grow: 1;
  padding: 12px;
  border: none;
}
.grid-container .header .searchbar .searchicon {
  background-color: #FFC423;
  border: none;
  padding: 0;
}
.grid-container .header .searchbar .searchicon i {
  font-weight: 100;
  padding: 12px 14px;
}
.grid-container .header .myaccount {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.grid-container .header .myaccount span,
.grid-container .header .myaccount i {
  font-size: 30px;
  color: #FFFFFF;
}
.grid-container .header .myaccount a {
  color: #F6F6F6;
  font-size: 16px;
  text-decoration: none;
}
.grid-container .menubar {
  display: grid;
  grid-template-columns: 150px 4fr 111px;
  grid-template-rows: 40px;
  padding: 0 100px;
  background-color: black;
}
.grid-container .menubar .category {
  background-color: #FFC423;
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.grid-container .menubar .menuitem {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 1500px;
}
.grid-container .menubar .menuitem .list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container .menubar .menuitem .list .item {
  list-style: none;
}
.grid-container .menubar .menuitem .list a {
  text-decoration: none;
  text-align: left;
  color: #F6F6F6;
  font-size: 14px;
  padding: 0 30px;
}
.grid-container .menubar .mycart {
  display: flex;
  position: relative;
}
.grid-container .menubar .mycart::before {
  content: "";
  border-left: 12px solid rgba(0, 0, 0, 0);
  border-bottom: 12px solid #ffc423;
  border-top: 12px solid rgba(0, 0, 0, 0);
  position: absolute;
  top: -22px;
  left: -12px;
  opacity: 0.73;
}
.grid-container .menubar .mycart .btn-mycart {
  background-color: #FFC423;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  top: -12px;
  padding: 0 10px;
  gap: 10px;
  height: 52px;
}
.grid-container .menubar .mycart .btn-mycart::after {
  content: "";
  border-top: 12px solid rgba(0, 0, 0, 0);
  border-right: 12px solid rgba(0, 0, 0, 0);
  border-bottom: 12px solid #ffc423;
  position: absolute;
  top: -12px;
  right: -12px;
  opacity: 0.73;
}
.grid-container .menubar .mycart .btn-mycart i {
  font-size: 30px;
  background-size: contain;
}
.grid-container .menubar .mycart .btn-mycart .item-count {
  font-size: 12px;
}
.grid-container .menubar .mycart .btn-mycart .list {
  padding: 0 10px;
}
.grid-container .menubar .mycart .btn-mycart .list a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}
.grid-container .menubar .submenu {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40px;
  background-color: #E8E8E8;
}
.grid-container .menubar .submenu .list {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-inline-start: 44px;
}
.grid-container .menubar .submenu .list .item {
  list-style: none;
}
.grid-container .menubar .submenu .list .item a,
.grid-container .menubar .submenu .list .item i {
  text-decoration: none;
  color: #757575;
  font-size: 12px;
  margin: 0px 3px;
}

.pdp-section {
  margin-top: 20px;
  padding: 0;
}
.pdp-section .pdp-container {
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  background-color: #ffffff;
  gap: 20px;
  margin-bottom: 30px;
}
.pdp-section .pdp-container .leftside-container {
  border: 1px solid #EEEEEE;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1607843137);
  border-radius: 10px;
}
.pdp-section .pdp-container .leftside-container .img-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.pdp-section .pdp-container .leftside-container .img-container .small-img {
  padding-inline-end: 30px;
}
.pdp-section .pdp-container .leftside-container .img-container .small-img .img-sec {
  border: 1px solid #CFCFCF;
  margin-bottom: 10px;
  border-radius: 3px;
}
.pdp-section .pdp-container .leftside-container .img-container .small-img .img-sec img {
  padding: 18px 6px;
}
.pdp-section .pdp-container .leftside-container .img-container .large-img {
  max-height: 678px;
}
.pdp-section .pdp-container .leftside-container .img-container .large-img img {
  width: 100%;
}
.pdp-section .rightside-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pdp-section .rightside-container .product-desc {
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1607843137);
  border-radius: 10px;
  padding: 30px 0 30px 30px;
  flex: 5;
}
.pdp-section .rightside-container .product-desc .product-title {
  margin-bottom: 15px;
}
.pdp-section .rightside-container .product-desc .product-title .title {
  font-size: 32px;
}
.pdp-section .rightside-container .product-desc .product-subtitle {
  margin-bottom: 21px;
}
.pdp-section .rightside-container .product-desc .product-subtitle h5,
.pdp-section .rightside-container .product-desc .product-subtitle span {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
}
.pdp-section .rightside-container .product-desc .product-subtitle h5 .brand-subtitle,
.pdp-section .rightside-container .product-desc .product-subtitle span .brand-subtitle {
  padding-left: 30px;
}
.pdp-section .rightside-container .product-desc .product-para .para {
  font-size: 16px;
  padding-bottom: 20px;
}
.pdp-section .rightside-container .product-desc .product-price {
  margin-bottom: 18px;
}
.pdp-section .rightside-container .product-desc .product-price h4 {
  font-size: 27px;
  margin-bottom: 11px;
}
.pdp-section .rightside-container .product-desc .product-price h4 .grey-text {
  font-size: 16px;
  color: #757575;
  margin-left: 16px;
  margin-right: 16px;
}
.pdp-section .rightside-container .product-desc .product-price h4 .red-text {
  font-size: 13px;
  color: #E30613;
}
.pdp-section .rightside-container .product-desc .product-price h5 {
  font-size: 14px;
  color: #9EBB05;
  font-weight: 100;
  margin-bottom: 17px;
}
.pdp-section .rightside-container .product-desc .product-price h5 span {
  color: #9EBB05;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 100;
}
.pdp-section .rightside-container .product-desc .product-price .stock-desc {
  display: flex;
  align-items: center;
  gap: 10px;
}
.pdp-section .rightside-container .product-desc .product-price .stock-desc .btn-green {
  padding: 5px 15px;
  background-color: #9EBB05;
  font-size: 13px;
  color: #FFFFFF;
}
.pdp-section .rightside-container .product-desc .product-price .stock-desc p {
  color: #E30613;
  font-size: 14px;
}
.pdp-section .rightside-container .product-desc .gift-offers {
  display: flex;
  font-size: 12px;
  align-items: center;
  margin-bottom: 18px;
}
.pdp-section .rightside-container .product-desc .gift-offers .gift-wrap i {
  color: #FF9F00;
  font-size: 16px;
}
.pdp-section .rightside-container .product-desc .gift-offers .gift-wrap span .fa-gift {
  color: black;
  font-size: 16px;
}
.pdp-section .rightside-container .product-desc .gift-offers .express-hr i {
  color: #FF9F00;
  font-size: 16px;
  margin-left: 18px;
}
.pdp-section .rightside-container .product-desc .gift-offers .installment-offer i {
  color: #FF9F00;
  font-size: 16px;
  margin-left: 18px;
}
.pdp-section .rightside-container .product-desc .gift-offers .installment-offer span {
  font-weight: 600;
}
.pdp-section .rightside-container .product-desc form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}
.pdp-section .rightside-container .product-desc form .value-button {
  display: inline-block;
  margin: 0px;
  width: 40px;
  padding: 12px 5px;
  text-align: center;
  vertical-align: middle;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
}
.pdp-section .rightside-container .product-desc form .decrease,
.pdp-section .rightside-container .product-desc form .increase {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
  padding: 5px 3px;
}
.pdp-section .rightside-container .product-desc form form #input-wrap {
  margin: 0px;
  padding: 0px;
}
.pdp-section .rightside-container .product-desc form input#number {
  text-align: center;
  border: none;
  margin: 0px;
  width: 40px;
  padding: 12px 5px;
  border: none;
}
.pdp-section .rightside-container .product-desc .btn-all-pdp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
}
.pdp-section .rightside-container .product-desc .btn-all-pdp .btn {
  width: 200px;
  padding: 16px;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}
.pdp-section .rightside-container .product-desc .btn-all-pdp .btn i {
  margin-right: 12px;
}
.pdp-section .rightside-container .product-warranty {
  border-radius: 10px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1607843137);
  flex: 3;
  padding: 17px 30px 0 25px;
  padding-bottom: 132px;
}
.pdp-section .rightside-container .product-warranty .warranty-title {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pdp-section .rightside-container .product-warranty .warranty-title h2 {
  font-size: 20px;
}
.pdp-section .rightside-container .product-warranty .warranty-title .line {
  border-top: 3px solid #333333;
  width: 14px;
}
.pdp-section .rightside-container .product-warranty .underline {
  border-top: 1px solid #E2E2E2;
  margin-bottom: 30px;
}
.pdp-section .rightside-container .product-warranty .warranty-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.pdp-section .rightside-container .product-warranty .warranty-btns .warranty-btn {
  padding: 13px 15px;
  font-size: 16px;
  background: #F9F9F9 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 14px;
}
.pdp-section .rightside-container .product-warranty .warranty-btns .warranty-btn span {
  font-weight: 600;
  font-size: 16px;
}
.pdp-section .product-desc-section {
  padding: 0 30px;
  display: grid;
  background-color: #ffffff;
  gap: 20px;
  margin-bottom: 30px;
}
.pdp-section .product-desc-section .product-description {
  border: 1px solid #EEEEEE;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1607843137);
  border-radius: 10px;
}
.pdp-section .product-desc-section .product-description .product-details .product-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.pdp-section .product-desc-section .product-description .product-details .product-list .item {
  list-style: none;
  padding: 15px 20px;
}
.pdp-section .product-desc-section .product-description .product-details .product-list .item a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
.pdp-section .product-desc-section .product-description .product-details .product-list .item-selected {
  background-color: #F1F1F1;
  border-bottom: 2px solid red;
}
.pdp-section .product-desc-section .product-description .product-details .underline {
  border-top: 1px solid #E2E2E2;
  margin-bottom: 30px;
}
.pdp-section .product-desc-section .product-description .product-details .product-features {
  display: flex;
  gap: 20px;
}
.pdp-section .product-desc-section .product-description .product-details .product-features .feature-list .item {
  list-style: none;
  padding: 10px;
}
.pdp-section .product-desc-section .product-description .product-details .product-features .feature-list .item a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}
.pdp-section .product-desc-section .product-description .product-details .product-features .features .item a {
  font-weight: normal;
  color: #707070;
}

@media screen and (max-width: 460px) {
  .pdp-section .pdp-container {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 460px) {
  .grid-container {
    width: 100%;
  }
}

.submenu .list .cooker-color {
  font-weight: 900;
  font-size: 14px !important;
  color: black !important;
}

.plp-section {
  margin: 20px;
  border: 1px solid black;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1215686275);
  border: 1px solid #E2E2E2;
  border-radius: 10px;
}