.main-container {
    margin-left: 30px;
    margin-right: 25px;
    margin-top: 70px;
    .btn-arrow-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
            padding: 0px 9px;
            font-weight: 800;
        }
        .all-btns {
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-template-rows: 80px;
            gap: 23px;
            width: 100%;
            .bt-font {
                font-size: 35px;
                text-transform: capitalize;
            }
    }
    
    }

   

  }