$small: 460px;
$medium: 768px;
$large: 920px;
$x-large:1200px;


 .pdp-section{
    .pdp-container {
        @media screen and (max-width: $small) {
            // width: 100%;
            display: flex;
            flex-direction: column-reverse;
          
            
        }
       
      }
      

    }
  
    .grid-container {
      @media screen and (max-width: $small) {
        width: 100%;
    }
  }
