.category-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: 464px;
    margin-top: 40px;
    gap: 23px;

    .card-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius:10px 10px;
        box-shadow: 0px 3px 5px #0000001A;
        position: relative;
        .small-img {
            img {
                position: absolute;
                left: 0;
            }
        }
        
        .card-img {
            background-color: #DBFFFB;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 2;
            width: 100%;
            padding: 50px 0;
            border-radius: 10px 10px 0px 0px;
            img {
                width: 100%;

            }
        }

        .card-desc {
            flex-grow: 1;
            width: 100%;
            .card-content {
                padding: 21px 50px 23px 15px;
                .title {
                    font-size: 24px;
                    
                }
                .subtitle {
                    padding: 13px 0px 17px;
                    color: #757575;
                    font-size: 15px;
                    font-style: normal;
                    span {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}