$yellow: #FFC423;
$darkyellow:#E9B119;
$lightyellow:#FFD35D;

$red:#E30613;
$darkred:#C2000B;
$lightred:#FC4852;

$black:#000000;
$lightblack:#404040;
$grey:#757575;

$lightgrey:#B7B7B7;
$greywhite:#E2E2E2;
$white:#F6F6F6;
$graylight:#E8E8E8;
$originalwhite:#ffffff;
$blue:#009ADA


