.footer-section {
    margin-top: 40px;
    border: none;

    .footer-container {
        display: grid;
        grid-template-columns: 1fr 4fr;

        .item1 {
            width: 438px;
            display: flex;
            flex-direction: column;
            align-items: left;
            padding: 30px 50px;
            background-color: #313131;
            border: none;

            .log,
            .para,
            .newsletter,
            .app-icon {
                margin: 12px 0;
                font-size: 14px;
                font-style: normal;
                letter-spacing: 0px;
                color: #B7B7B7;

            }

            .newsletter {
                display: flex;

                input {
                    flex-grow: 3;
                    padding: 17px 15px;
                    border: none;

                }

                .btn-newsletter {
                    flex-grow: 1;
                    border: none;
                    border-radius: 0;
                    text-transform: capitalize;
                }
            }

            .app-icon {
                display: flex;
                align-items: center;
                gap: 3px;
                margin-bottom: 0;

                .icon-img {
                    flex-grow: 1;

                    img {
                        width: 100%;
                    }

                }

            }
        }

        .item2 {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            background-color: #404040;
            padding: 30px 0;
            padding-inline-start: 20px;
            padding-inline-end: 20px;
            border: none;

            .contact-us {
                display: flex;
                flex-direction: column;

                .contactus-list {
                    flex: 1;
                }

                .social-media {
                    flex: 1;

                    .item-list {
                    
                        .item {
                            width: 45px;
                            height: 45px;


                            i {
                                color: #FFC423;
                                font-size: 45px;
                            }
                        }
                    }
                }
            }

            .service {
                display: inline-block;

                .service-icons {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }




            }

            .social-media{

                .item-list {
                    display: flex;
                    align-items: center;
                    
                    .item {
                        width: 45px;
                        height: 45px; 
                        list-style: none;
                        border: none;
                        margin: 5px;
                        background-color: #FFC423;

                        a {
                            color: #000000;

                            &:hover {
                                color: red;
                            } 
                            i {
                                padding: 12px 17px;
                                font-size: 25px;
                                
                            }
                        }

                    }
                }
            }

        }
    }

}

.footer-bottom {
    height: 50px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 9px 50px;

    .text-msg {
        font-size: 14px;
        text-align: center;

        span {
            color: #FFC423;
        }
    }

    .icons {
        width: 377px;

        img {
            width: 100%;
        }

    }
}