.grid-container {

    .header {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 80px;
        align-items: center;
        background-color: $red;
        padding: 0 100px;

        .logo img {
            width: 120px;
        }

        .searchbar {
            display: flex;

            .search-cnt {
                flex-grow: 1;
                padding: 12px;
                border: none;
            }

            .searchicon {
                background-color: $yellow;
                border: none;
                padding: 0;

                i {
                    font-weight: 100;
                    padding: 12px 14px;
                }
            }


        }

        .myaccount {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            span,
            i {
                font-size: 30px;
                color: #FFFFFF;
            }
            a {
                color: $white;
                font-size: 16px;
                text-decoration: none;
            }
        }

    }

    .menubar {
        display: grid;
        grid-template-columns: 150px 4fr 111px;
        grid-template-rows: 40px;
        padding: 0 100px;
        background-color: black;

        .category {
            background-color: $yellow;
            font-size: 14px;
            color: $black;
            font-weight: 600;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        .menuitem {
            display: flex;
            justify-content: left;
            align-items: center;
            width: 1500px;

            .list {
                display: flex;
                justify-content: center;
                align-items: center;

                .item {
                    list-style: none;

                }

                a {
                    text-decoration: none;
                    text-align: left;
                    color: $white;
                    font-size: 14px;
                    padding: 0 30px;
                }
            }

        }

        .mycart {
            display: flex;
            position: relative;
            
             &::before {
                content: "";
                border-left: 12px solid #0000;
                border-bottom: 12px solid #ffc423;
                border-top: 12px solid #0000;
                position: absolute;
                top: -22px;
                left: -12px;
                opacity: .73;
             }
          
            .btn-mycart {
                background-color: $yellow;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                position: absolute;
                top: -12px;
                padding: 0 10px;
                gap: 10px;
                height: 52px;

                &::after {
                    content: "";
                    border-top: 12px solid #0000;
                    border-right: 12px solid #0000;
                    border-bottom: 12px solid #ffc423;
                    position: absolute;
                    top: -12px;
                    right: -12px;
                    opacity: .73;
                }
                
                i {
                   font-size: 30px;
                   background-size: contain;
                }

                .item-count {
                    font-size: 12px;
                }

                .list {
                    padding: 0 10px;

                    a {
                        text-decoration: none;
                        font-size: 14px;
                        font-weight: 500;
                        color: $black;
                    }
                }

                            
            }
        }

        .submenu {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 40px;
            background-color: $graylight;

            .list {
                display: flex;
                justify-content: left;
                align-items: center;
                margin-inline-start: 44px;

                .item {
                    list-style: none;

                    a,
                    i {
                        text-decoration: none;
                        color: $grey;
                        font-size: 12px;
                        margin: 0px 3px;
                    }
                }
            }
        }
    }
}