.hero-section {
    .hero-container {
        display: grid;
        grid-template-columns: 4fr 4fr;
        grid-template-rows: 360px;
        background: transparent radial-gradient(closest-side at 26% 35%, #EAF4F9 0%, #BBE0F0 100%) 0% 0% no-repeat padding-box;
   
        .hero-leftside {
            margin-inline-start: 100px;
            background-position: center;
            background-size: cover;
            margin-bottom: 40px;
            background: transparent url('./../images/hero-image.JPG') 0% 0% no-repeat padding-box;

        }
        .hero-rightside {
            margin-inline-start: 80px;
            .hero-title {
                // position: absolute;
                // transform: skew(30deg);

                .title {
                    display: inline-block;
                    padding: 0 41px;
                    font-size:35px;
                    font-family: 'Roboto Slab','ExtraBold';
                    font-weight: 800;
                    background-color: #ffffff;
                    line-height: 1.3;
                    // position: relative;    
                }
                
            }
            .sale {
                display: flex;
                // transform: skew(30deg);
                .sale-title {
                  background-color: #E30613;
                  color: white;
                  padding: 2px 20px;
                  
                }
                .date-item {
                    font-weight: 600;
                    font-size: 12px;
                   text-decoration:  2px underline black;
                   margin: 10px;
                  }
            }
           .desc {
            margin-top: 30px;
            h1 {
                margin-bottom: 8px;
                font-size: 36px;
                span {
                    color: #E30613;
                }
            }
            h6 {
                margin-bottom: 27px;
                font-size: 20px;
            }
            .btn-padding {
                padding: 13px 32px;
            }
           }
        //     .title::before {
        //         content: '';
        // position: absolute;
        // top: 0;
        // right: 0;
        // border-top: 45px solid white;
        // border-right: 45px solid black;
        // width: 0;
        //     }
        //     .title::before {
        //         content: '';
        // position: absolute;
        // top: 0;
        // right: 0;
        // border-top: 45px solid white;
        // border-radius: 45px solid ;
        // width: 0;
        //     }
        
        }
    }


   
}