body  {
  margin: 0;
  padding: 0;
}
.container {
width: 1440px;
margin: 0 auto;
}
.navigation {
  background-color:black;
  height: 100px;
  color: white;
  display: grid;
  grid-template-columns:1fr 3fr 1fr;
  justify-content: space-between;
  align-items: center;
}
.logo {
  position: relative; 
  width: 80px; 
  height: 80px; 
  overflow: hidden; 
  border-radius: 50%;
}
img {
  width: 100%; height: auto;
}
.search-bar {
  display: grid;
  grid-template-columns:4fr 1fr;
}
.search-bar input {
  padding: 10px;
font-size: 17px;
border: 1px solid grey;
background: #f1f1f1;
}
.search-bar .btn {
  padding: 10px;
  background: pink;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
.my-account {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.my-account a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.my-account a:hover {
  color: red;
}
.product-details {
display: grid;
grid-template-columns: 1fr 4fr;
}
.product-card {
  /* display: grid;
  grid-template-columns:1fr 3fr; */
  display: flex;
  flex-direction: column;
}
.product-details{
  margin-top: 50px;
}
.product-banner img {
  width: 100%;
  height: 400px;
}
.product-desc {
  display: flex;
  flex-direction: row;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;    

}
.product-info {
 border-radius: 10px 10px;
 box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1019607843);
 position: relative;
 
}

.product-img {
  
}
.product-img img {
  max-width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.product-features {
  text-align: end;
  margin-bottom: 20px;
  padding: 20px;
}

  
.product-content {
  padding: 30px;
}  
.product-brand {
  margin: 10px 0;
}
.product-title {
  margin-bottom: 10px;
}
.product-desc , .product-price , .product-discount, .product-category {
  margin-bottom: 10px;
}
.btns {
  /* text-align: center; */
}
.add-btn {
  padding: 10px 60px;
  background-color: black;
  color: white;
}
.product-category .list ,  .product-brand .brand-list {
  padding: 0;
}

.product-category .list .item , .product-brand .brand-list .item{
   list-style: none;
   margin: 10px;
   padding: 0;
}
.product-category .list .item a , .product-brand .brand-list .item a{
  text-decoration: none;
  color: black;
  cursor: pointer;


}
.product-category .list .item a:hover , .product-brand .brand-list .item a:hover {
  text-decoration: underline;
  color: grey;
}

.listview {
   display: flex;
   flex-direction: column;
}

.listview .product-info {
  display: flex;
}
.btn-list {
  border: none;
  background-color:white;
}

.btn-listview {
  text-decoration: none;
  cursor: pointer;
  color: black;
  margin-left: 50px;
}
.btn-listview:hover {
   color: red;
}

.accordion {
  width: 100%;
  color: black;
  background-color: white;
  
}

.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 18px;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.accordion .label::before {
  content: '+';
  color: black;
  position: absolute;
  top: 25%;
  right: 15px;
  font-size: 20px;
}

.accordion .content {
  position: relative;
  background: white;
  height:0;
  font-size: 16px;
  width: 200px;
  overflow: hidden;
  transition: 0.5s;
}
.content a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.content a:hover{
  color: grey;
  text-decoration: underline;
}

.accordion .acc-container.active .content {
  height: 30px;
}

.accordion .acc-container.active .label::before {
  content: '-';
  font-size: 20px;
}

/* Logni page  */


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container-login {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
.modal-content {
  margin: 100px;
}

/* Modal Content/Box */
.modal-content .title{
  text-align: center;
 /* Could be more or less, depending on screen size */
}

.login-page {
  background:url(./LoginBg.jpg);
  height: 900px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
}
/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}