/* Menu and sub menu */


* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

.container {
  /* width: 1440px;
margin: 0 auto; */
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.product-filter {}

.btn {
  border: none;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
}

.subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 20px;
  background: #F6F6F6 0% 0% no-repeat padding-box;
}

.btn-red {
  background-color: #E30613;
  color: #F6F6F6;
  text-transform: uppercase;
}

.btn-yellow {
  background-color: #FFC423;
  color: #000000;
  text-transform: uppercase;
  padding: 17px 27px;
}

.btn-orange {
  background-color: #FB641B;
}

.btn-padding {
  padding: 14px 16px;
}

.btn-shop-yellow {
  font-size: 16px;
}

.btn-blue {
  background-color: #009ADA;
  color: #000000;
  text-transform: uppercase;
}

.btn-black {
  background-color: #000000;
  color: #F6F6F6;
}

.btn-white {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #E2E2E2;
}

.btn-fonts {
  font-size: 20px;
  font-weight: 700;
}

.title-margin {
  color: #B7B7B7;
  margin-bottom: 21px;
}



.item-style {
  list-style: none;
}

.service-btn {
  text-transform: capitalize;
  padding: 10px 8px;
  text-decoration: none;
  font-size: 12px;
  width: 120px;
  border-radius: 5px;
}

.grid-container .header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 80px;
  align-items: center;
  background-color: #E30613;
}

.grid-container .header .logo img {
  width: 120px;
  margin: 15px 0;
}

.grid-container .header .searchbar {
  display: grid;
  grid-template-columns: 3fr .2fr;
}

.grid-container .header .searchbar .search-cnt {
  flex-grow: 1;
  padding: 12px;
  border: none;
}

.grid-container .header .searchbar .searchicon {
  background-color: #FFC423;
  border: none;
  padding: 0;
}

.grid-container .header .searchbar .searchicon i {
  font-weight: 100;
  padding: 12px 14px;
}

.grid-container .header .myaccount {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.grid-container .header .myaccount span,
.grid-container .header .myaccount a {
  color: #F6F6F6;
  font-size: 16px;
  text-decoration: none;
}

.grid-container .menubar {
  display: grid;
  grid-template-columns: 150px 4fr 111px;
  grid-template-rows: 40px;
  background: #000000;
  color: #ffffff;
  /* margin-inline-start: 30px; */
}


/* carousel section */

#owl-demo .item{
  margin: 10px;
  color:#ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.grid-container .menubar .category {
  background-color: #FFC423;
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.grid-container .menubar .menuitem {
  display: flex;
  justify-content: left;
  align-items: center;
}

.grid-container .menubar .menuitem .list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container .menubar .menuitem .list .item {
  list-style: none;
}

.grid-container .menubar .menuitem .list a {
  text-decoration: none;
  text-align: left;
  color:#ffffff;
  font-size: 12px;
  padding: 0 10px;
}

.grid-container .menubar .mycart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  padding: 0 10px;
  position: relative;
  top: -12px;
  background-color:#FFC423;;
  gap: 10px;
 
}
.mycart::before {
  content: "";
    border-left: 12px solid #0000;
    border-bottom: 12px solid #ffc423;
    border-top: 12px solid #0000;
    position: absolute;
    top: -12px;
    left: -12px;
    opacity: .73;
}

.mycart::after {
  content: "";
    border-top: 12px solid #0000;
    border-right: 12px solid #0000;
    border-bottom: 12px solid #ffc423;
    position: absolute;
    top: -12px;
    right: -12px;
    opacity: .73;
}
.item-cart {
  color: #000;
  font-size: 12px;
  font-weight: 600;
}
.item-count {
  margin-top: 7px;
}

.grid-container .menubar .cart {
  background-color: #FFC423;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  position: absolute;
  top: -20px;
  margin-right: 50px;
}


.grid-container .menubar .mycart .btn-mycart .list a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}
.btn-mycart {
  border: 0px;
  background-color:#FFC423 ;
}
.grid-container .menubar .mycart .btn-mycart i {
  /* font-size: 22px;
  margin: 0 14px;
  background-color:none; */
}

.grid-container .submenu {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40px;
  background-color: #E8E8E8;
}

.grid-container .submenu .list {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-inline-start: 44px;
}

.grid-container .submenu .list .item , .available-product .item {
  list-style: none;
}

.grid-container .submenu .list .item a,
.grid-container .submenu .list .item i {
  text-decoration: none;
  color: #757575;
  font-size: 12px;
  margin: 0px 3px;
}

.category-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
  gap: 23px;
}

.category-card .card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1019607843);
  position: relative;
}

.category-card .card-details .small-img img {
  position: absolute;
  left: 0;
}

.category-card .card-details .card-img {
  background-color: #DBFFFB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  width: 100%;
  padding: 50px 0;
  border-radius: 10px 10px 0px 0px;
}

.category-card .card-details .card-img img {
  width: 100%;
}

.category-card .card-details .card-desc {
  flex-grow: 1;
  width: 100%;
}

.category-card .card-details .card-desc .card-content {
  padding: 21px 50px 23px 15px;
}

.category-card .card-details .card-desc .card-content .title {
  font-size: 24px;
}

.category-card .card-details .card-desc .card-content .subtitle {
  padding: 13px 0px 17px;
  color: #757575;
  font-size: 15px;
  font-style: normal;
}

.category-card .card-details .card-desc .card-content .subtitle span {
  font-weight: 600;
}

.hero-section .hero-container {
  display: grid;
  grid-template-columns: 4fr 4fr;
  grid-template-rows: 460px;
  background: transparent radial-gradient(closest-side at 26% 35%, #EAF4F9 0%, #BBE0F0 100%) 0% 0% no-repeat padding-box;
}

.hero-section .hero-container .hero-leftside {
  background: transparent url("./../images/heroimage.png") no-repeat center center;
}

.hero-section .hero-container .hero-rightside {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.hero-section .hero-container .hero-rightside .hero-title .title {
  display: inline-block;
  padding: 0 41px;
  font-size: 35px;
  font-family: "Roboto Slab", "ExtraBold";
  font-weight: 800;
  background-color: #ffffff;
  line-height: 1.3;
  transform: skew(140deg);
}

.hero-section .hero-container .hero-rightside .hero-title .title span {
  transform: skew(-140deg);
  display: flex;
}

.hero-section .hero-container .hero-rightside .sale {
  display: flex;
}

.hero-section .hero-container .hero-rightside .sale .sale-title {
  background-color: #E30613;
  color: white;
  padding: 2px 20px;
  transform: skew(50deg);
  z-index: 1;
}

.hero-section .hero-container .hero-rightside .sale .sale-title span {
  transform: skew(-50deg);
  display: flex;
}

.hero-section .hero-container .hero-rightside .sale .date-item {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  position: relative;
  top: 4px;
  left: 20px;
  z-index: 0;
}

.hero-section .hero-container .hero-rightside .sale .date-item::after {
  content: "";
  position: absolute;
  left: -14px;
  bottom: 8px;
  min-width: 130px;
  height: 3px;
  background-color: #000;

}

.hero-section .hero-container .hero-rightside .desc {
  margin-top: 30px;
}

.hero-section .hero-container .hero-rightside .desc h1 {
  margin-bottom: 8px;
  font-size: 36px;
}

.hero-section .hero-container .hero-rightside .desc h1 span {
  color: #E30613;
}

.hero-section .hero-container .hero-rightside .desc h6 {
  margin-bottom: 27px;
  font-size: 20px;
}

.hero-section .hero-container .hero-rightside .desc .btn-padding {
  padding: 13px 32px;
}

.main-container {
  margin-left: 30px;
  margin-right: 25px;
  margin-top: 70px;
}

.main-container .btn-arrow-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container .btn-arrow-icons i {
  padding: 0px 9px;
  font-weight: 800;
}

.main-container .btn-arrow-icons .all-btns {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 80px;
  gap: 23px;
  width: 100%;
}

.main-container .btn-arrow-icons .all-btns .bt-font {
  font-size: 35px;
  text-transform: capitalize;
}

.banner-section {
  margin-top: 40px;
}

.banner-section .banner-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

.banner-section .banner-container .banner-img img {
  width: 100%;
}


.back-color {
  background-color: #E30613;
}
/* Footer section */


.footer-section {
  margin-top: 62px;
  border: none;
}
.footer-section .footer-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.footer-section .footer-container .item1 {
  width: 438px;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 30px 50px;
  background-color: #313131;
  border: none;
}
.footer-section .footer-container .item1 .log,
.footer-section .footer-container .item1 .para,
.footer-section .footer-container .item1 .newsletter,
.footer-section .footer-container .item1 .app-icon {
  margin: 12px 0;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0px;
  color: #B7B7B7;
}
.footer-section .footer-container .item1 .newsletter {
  display: flex;
}
.footer-section .footer-container .item1 .newsletter input {
  flex-grow: 3;
  padding: 17px 15px;
  border: none;
}
.footer-section .footer-container .item1 .newsletter .btn-newsletter {
  flex-grow: 1;
  border: none;
  border-radius: 0;
  text-transform: capitalize;
}
.footer-section .footer-container .item1 .app-icon {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 0;
  gap: 7px;
}
.footer-section .footer-container .item1 .app-icon .icon-img {
  flex-grow: 1;
}
.footer-section .footer-container .item1 .app-icon .icon-img img {
  width: 100%;
}
.footer-section .footer-container .item2 {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background-color: #404040;
  padding: 30px 0;
  padding-inline-start: 16px;
  border: none;
}
.footer-section .footer-container .item2 .contact-us {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.customer-service , .explore , .service{
  padding: 0 20px;
}
.footer-section .footer-container .item2 .contact-us .contactus-list {
  flex: 1;
}
.footer-section .footer-container .item2 .contact-us .social-media {
  flex: 1;
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer-section .footer-container .item2 .contact-us .social-media .item-list {
  display: flex;
  gap: 15px;
}

.footer-section .footer-container .item2 .contact-us .social-media .item-list a{
    font-size: 45px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffc423 0 0 no-repeat padding-box;
    text-align: center;
    width: 45px;
    height: 45px;
    text-decoration: none;
    margin-bottom: 0;
    padding: 12px 0px;
  
}
.footer-section .footer-container .item2 .contact-us .social-media .item-list a i {
  width: 100%;
  background-color: #ffc423  ;
}
.footer-section .footer-container .item2 .service {
  display: inline-block;
}
.footer-section .footer-container .item2 .service .service-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-bottom {
  height: 50px;
  background-color: #000000;
  display: flex;
  justify-content: space-evenly;
  color: white;
  align-items: center;
}
.footer-bottom .text-msg {
  font-size: 14px;
  text-align: center;
}
.footer-para {
  font-size: 12px;
  color: #B7B7B7;
  text-decoration: none;
}







body {
  font-family: Georgia, Times, "Times New Roman", serif;
}




/* Product Card */
.product-card {
  background-color: #fff;
  margin-bottom: 24px;

}

.product-card .stock {
  position: absolute;
  color: #fff;
  border-radius: 4px;
  padding: 2px 12px;
  margin: 8px;
  font-size: 12px;
}

.product-card .product-card-img {
  max-height: 260px;
  overflow: hidden;
}

.product-card .product-card-img img {
  width: 100%;
}

.product-card .product-card-body {
  padding: 10px 10px;
}

.add-to-cart-btn {
  background-color: black;
  color: white;
  padding: 10px 40px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.product-card .product-card-body .product-brand {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
  color: #937979;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-card .product-card-body .product-name {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-card .product-card-body .selling-price {
  font-size: 22px;
  color: #000;
  font-weight: 600;
  margin-right: 8px;
}

.product-card .product-card-body .original-price {
  font-size: 18px;
  color: #937979;
  font-weight: 400;
  text-decoration: line-through;
}

.product-card .product-card-body .btn1 {
  border: 1px solid;
  margin-right: 3px;
  border-radius: 0px;
  font-size: 12px;
  margin-top: 10px;
}

.mb4-title {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 18px !important;

}

.mb3-title {
  color: #B9B9B9;
  font-size: 18px;
}

.col-md-12 {
  border-bottom: 1px solid #E2E2E2;
}

.card-border {
  border: 1px solid #E2E2E2;
  ;
}

.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  z-index: 100;
}

.cart-active {
  right: 0;
  transition: 0.5s;
}

.cart-count {
  position: absolute;
  background-color: #2f3542;
  top: -3px;
  right: 50px;
  padding: 3px;
  height: 25px;
  width: 25px;
  line-height: 20px;
  border-radius: 50%;
  z-index: 99;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.bg-color {
  background-color: #F6F6F6;

}

.mb-4 {
  margin-bottom: 0px !important;
}

.list-icon {
  font-size: 20px;
  cursor: pointer;
}

.list-icon .fa-th {
  margin-left: 15px;
}
.fa {
  background-color: #FFC423;
}

.sort-dropdown {
  padding: 5px;
  border: 1px solid #F1F3F6;
  cursor: pointer;
}

.md-title {
  padding: 0px 10px;
  margin-bottom: 30px;
}

/* Product Card End */

/* New PLP page  */

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.navigation {
  background-color: black;
  height: 100px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
  width: 180px;
  height: 80px;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

.search-bar {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.search-bar input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  background: #f1f1f1;
}

.search-bar .btn {
  padding: 10px;
  background: pink;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.my-account {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.my-account a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.my-account a:hover {
  color: red;
}
.product-desc {
  padding-bottom: 30px;
}

.product-details {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 5px #E8E8E8;
  border: 1px solid #E2E2E2;
  border-radius: 10px;
  margin: 24px;
}

.applied-filter {
  padding: 20px;
}



h4 span::after,
.mb4-title span::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background: red;
  position: absolute;
  bottom: -7px;
  left: 0;
}

span {
  position: relative;
}

.applied-filter h4 {
  font-weight: 900;

}

.brand-list {
  padding: 0;
  margin-top: 30px !important;
}

.brand-list .item , .available-product .item {
  border-bottom: 1px solid #F6F6F6;

}

.underline-red {
  position: relative;
  font-size: 20px;
  width: fit-content;
}

.underline-red::after {
  content: "";
  width: 100%;
  height: .2em;
  background: red;
  position: absolute;
  bottom: -15px;
  left: 0;

}
.applied-btn {
  margin-top: 30px;
  width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.filter-btn {
  width: 100px;
  background-color: #E30613;
}
/* .product-filter,
.product-category,
.product-brand,
.product-price , .product-title ,
.product-discount ,.availability ,
.user-rating , .applied-filter .mb-4 { 
  padding: 0 20px 0 30px !important;
} */

.product-card {
  display: flex;
  flex-direction: column;
}

.mb4-title::after {
  text-underline-position: under;

}

.product-banner img {
  width: 100%;
  height: 400px;
}



.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

}

.product-info {
  border-radius: 10px 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1019607843);
  position: relative;

}

/* how  */

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: red;
  cursor: pointer;
}
.price-para {
  margin-top: 30px;
}
/* .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
} */

/*  */
.product-img img {
  max-width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.product-features {

  padding: 20px;
}


.product-content {
  padding: 30px;
}
.slider-price {
  margin-top: 30px;
}

.margin-product {
  margin: 60px 0;
}
/* .product-title , .product-brand ,.available-title {
  margin-bottom: 10px;
} */
.outofstock-btn {
  background-color: #FFC423;
  color: #000000;
  width: 200px;
  border-radius: 10px;
  padding: 10px 5px;
}
 .price-color{
  color: #E30613;

 }
.discount-price {
  padding: 2px 12px;
  background-color: #E30613;
  color: #FFFFFF;
  border-radius: 3px;
}

.add-btn-cart {
  padding: 10px 60px;
  background-color: black;
  color: white;
}

.brand-title span,
.cat-title span,
.price-title span ,
.available-title span , .rating-title span , .mb-4 span 
{
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 17px;
}

/* brand checkbox */
/* li::before { 
  content: "\2610"; 
  margin-right: 0.5em; 
} */
.product-category .list .item,
.product-brand .brand-list .item input , .available-product .item input {
  margin-right: 17px;
  font-size: 20px;
}

.product-category .list .item,
.product-brand .brand-list .item , .available-product .item{
  list-style: none;
  margin-top: 10px;
  padding: 0;

}

.product-category .list .item a,
.product-brand .brand-list .item a , .available-product .item a {
  text-decoration: none;
  color: black;
  cursor: pointer;

}
.available-product {
  padding: 0;
  margin-top: 30px;
}

.product-category .list .item a:hover,
.product-brand .brand-list .item a:hover {
  text-decoration: underline;
  color: grey;
}
/* User Ratings */
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.radio-input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.radio-label {
  cursor: pointer;
  font-size: 0;
  color: rgba(0,0,0,0.2);
  transition: color 0.1s ease-in-out;
}

.radio-label:before {
  content: "★";
  display: inline-block;
  font-size: 32px;
}

.radio-input:checked ~ .radio-label {
  color: #ffc700;
  color: gold;
}

.radio-label:hover,
.radio-label:hover ~ .radio-label {
  color: goldenrod;
}

.radio-input:checked + .radio-label:hover,
.radio-input:checked + .radio-label:hover ~ .radio-label,
.radio-input:checked ~ .radio-label:hover,
.radio-input:checked ~ .radio-label:hover ~ .radio-label,
.radio-label:hover ~ .radio-input:checked ~ .radio-label {
  color: darkgoldenrod;
}


.average-rating {
  position: relative;
  appearance: none;
  color: transparent;
  width: auto;
  display: inline-block;
  vertical-align: baseline;
  font-size: 25px;
}

.average-rating::before {
  --percent: calc(4.3/5*100%);
  content: '★★★★★';
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0,0,0,0.2);
  background: linear-gradient(90deg, gold var(--percent), rgba(0,0,0,0.2) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



form {
  margin: 0 0 50px;
/* End user rating */
}
.listview {
  display: flex;
  flex-direction: column;
}

.listview .product-info {
  display: flex;
}

.btn-list {
  border: none;
  background-color: white;
}

.btn-listview {
  text-decoration: none;
  cursor: pointer;
  color: black;
  margin-left: 50px;
}

.btn-listview:hover {
  color: red;

}

.accordion {
  width: 100%;
  color: black;
  background-color: white;

}

.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 18px;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.accordion .label::before {
  content: '+';
  color: black;
  position: absolute;
  top: 25%;
  right: 15px;
  font-size: 20px;
}

.accordion .content {
  position: relative;
  background: white;
  height: 0;
  font-size: 16px;
  width: 200px;
  overflow: hidden;
  transition: 0.5s;
}

.content a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.content a:hover {
  color: grey;
  text-decoration: underline;
}

.accordion .acc-container.active .content {
  height: 30px;
}

.accordion .acc-container.active .label::before {
  content: '-';
  font-size: 20px;
}

/* Logni page  */


/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 100%;
  /* padding: 12px 20px; */
  /* margin: 8px 0; */
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */


button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container-login {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

.modal-content {
  margin: 100px;
}

/* Modal Content/Box */
.modal-content .title {
  text-align: center;
  /* Could be more or less, depending on screen size */
}

.login-page {
  background: url(./LoginBg.jpg);
  height: 900px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

/* Add to cart functionality */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #ff4757;
}

.nav{
  max-width: 1200px;
  margin: auto;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color:#ffffff;
}

.box{
  color:white;
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
}

.cart-count{
  position: absolute;
  background-color: #2f3542;
  top: -5px;
  right: 50px;
  padding: 3px;
  height: 25px;
  width: 25px;
  line-height:20px ;
  border-radius: 50%;
  z-index: 99;
}

#cart-icon{
  font-size: 2.0rem;
  cursor: pointer;
  padding-top: 10px;
}

img{
  width: 100%;
}

.container{
  max-width: 1200px;
  padding: 4rem;
  margin: auto;
  width: 100%;
}

h2.title{
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color:#ffffff;
}

.shop-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,auto));
  gap:1.5rem;
  justify-content: center;
  align-content: center;
}

.product-box{
  position: relative;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  border-radius: 3px;
}
.disount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pic{
  overflow: hidden;
}

.product-img{
  transition: 0.4s;
  object-fit: cover;
  padding: 20px;
}
.whishlist-link {
  color: grey;
}
.best-seller {
  margin-top: 5px;
  margin-bottom: 15px;
}
.best-seller span {
  background-color: #E30613;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 2px 15px 2px 8px;
  font-size:9px;

}

.product-price{
  font-weight:600 ;

}
.product-price span {
  color: #B7B7B7;
  text-decoration: ;
}
.add-cart{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color:white;
  padding: 10px;
  font-size: 1.0rem;
  cursor: pointer;
  margin: 10px;
  
}

.add-cart:hover{
  background-color:rgba(255, 0, 0, 0.786);
}
  

.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  z-index: 100;
}

.cart-active{
  right:0;
  transition: 0.5s;
}

.cart-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-bottom:20px ;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.cart-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 10px;
}

.cart-img{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border:2px solid  rgba(0,0,0,0.1);
  padding: 5px;
}
.detail-box{
  display: grid;
  row-gap: 0.5rem;  
}

.price-box{
  display: flex;
    justify-content: space-between; 
}

.product-title{
   font-size: 17px;
   font-weight: 700;
   line-height: 45px;
}

.cart-price{
  font-weight: 500;
}

.cart-quantity{
  border:1px solid rgba(0,0,0,0.1);
  outline:none ;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove{
  font-size: 24px;
  color:red;
  cursor: pointer;
}

.total{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.total-title{
  font-size: 1rem;
  font-weight: 600;
}

.total-price{
  margin-left: 0.5rem;
}

.btn-buy{
  padding: 12px 20px;
  background-color:#2f3542;
  color:#fff;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

#cart-close{
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  cursor: pointer;
}
/* End */

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

/* Whishlist css */

.whishlist-container {
  padding: 0 100px;
  /* border: 1px solid black; */
}
.whishlist {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 435px;
  align-items: center;
  gap: 60px;
}


.whislist-title  {
  position: relative;
  text-transform: uppercase;
  width: fit-content;
 margin-block-end: 10px;
}

.whislist-title::after {
  content: "";
  width: 100%;
  height: .2em;
  background: red;  
  position: absolute;
  bottom: -12px;
  left: 0; 
}
.underline-heading {
  border-bottom: 1px solid #B7B7B7;
  margin-top: 55px;
}
.whishlist {
  margin-top: 20px;

}

.product-img img {
   width: 100%;
}